In [1]:
import pandas as pd

filepath = "../source_data_xu_2024/taxi.csv"
df = pd.read_csv(filepath, nrows=200000)
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge'],
      dtype='object')

In [2]:
# --- 1. datetime型に変換 ---
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

# --- 2. 期間の最小値と最大値を取得 ---
start_date = df['tpep_pickup_datetime'].min()
end_date = df['tpep_dropoff_datetime'].max()

# --- 3. 結果の表示 ---
print(f"データの開始日時（最も早い乗車時刻）: {start_date}")
print(f"データの終了日時（最も遅い降車時刻）: {end_date}")

データの開始日時（最も早い乗車時刻）: 2009-01-01 00:17:41
データの終了日時（最も遅い降車時刻）: 2020-01-03 21:37:51

In [3]:
df['store_and_fwd_flag'] = df['store_and_fwd_flag'].map({'N': 0, 'Y': 1})
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
df['trip_duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds()
df = df.drop(columns=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])

In [4]:
df.dtypes

VendorID                   int64
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag         int64
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
trip_duration            float64
dtype: object

In [5]:
df.isnull().sum()

VendorID                 0
passenger_count          0
trip_distance            0
RatecodeID               0
store_and_fwd_flag       0
PULocationID             0
DOLocationID             0
payment_type             0
fare_amount              0
extra                    0
mta_tax                  0
tip_amount               0
tolls_amount             0
improvement_surcharge    0
total_amount             0
congestion_surcharge     0
trip_duration            0
dtype: int64

In [6]:
df.to_csv("../source_data_xu_2024/taxi_subset.csv", index=False)

In [7]:
df.shape

(200000, 17)